{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block sonata_admin_content %}
    <h1>Error desconocido</h1>

    <p>Por favor contacte con el administrador del sitio.</p>
    
    <p><a href="{{ path('homepage') }}">Inicio</a></p>
{% endblock %}