<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
    <i class="fa fa-language" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
</a>

{% set languages = utils.getLanguages() %}
<ul class="dropdown-menu" id="dropdown-languages">
    {% for key, lang in languages %}
        <li>
            <a class="{{ app.request.locale|lower == key|lower ? 'locale-active' : '' }}" href="javascript:;" title="{{ lang }}" data-id="{{ key }}">{{ lang }} </a>
        </li>
    {% endfor %}
</ul>

<script type="text/javascript">
    var isSubmitting = false;

    if (!isSubmitting) {
        $('#dropdown-languages a').on('click', function () {
            $.ajax({
                beforeSend: function (xhr) {
                    isSubmitting = true;

                    $('html').addClass('cursor-wait');
                },
                url: '{{ path('set_locale') }}',
                data: {
                    lang: $(this).attr('data-id')
                },
                method: 'POST'
            })
                    .done(function (response) {
                        if (response.success) {
                            location.reload();
                        } else {
                            alert((response.message) || 'Error');
                        }
                    })
                    .fail(function (response) {
                        alert('Error');
                    })
                    .always(function (response) {
                        $('html').removeClass('cursor-wait');

                        isSubmitting = false;
                    });
        });
    }
</script>