{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box">
        {% block login_box_header %}
            <div class="login-logo">
                <a href="{{ path('sonata_admin_dashboard') }}" title="{{ admin_pool.title }}">
                    {% if admin_pool.getOption('title_mode') in ['single_image', 'both'] %}
                        <div>
                            <img style="width:64px;" src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}" />
                        </div>
                    {% endif %}
                    {% if admin_pool.getOption('title_mode') in ['single_text', 'both'] %}
                        <span>{{ admin_pool.title }}</span>
                    {% endif %}
                </a>
            </div>
        {% endblock %}
        <div class="login-box-body">
            {% block sonata_user_reset_request_form %}
                {% block sonata_user_reset_request_error %}
                    {% if invalid_username is defined %}
                        <div class="alert alert-danger">
                            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                        </div>
                    {% endif %}
                {% endblock %}
                <p class="login-box-msg">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</p>

                <form action="{{ path('sonata_user_admin_resetting_send_email') }}" method="post" role="form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" id="username"  name="username" required="required"
                               placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle')|replace({':': ''}) }}" />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat" title="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}">
                                {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                    </div>
                </form>

                <br />

                <a href="{{ path('sonata_user_admin_security_login') }}" title="{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}">
                    {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock sonata_wrapper %}