{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc register-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="register-box">
        {% block register_box_header %}
            <div class="register-logo">
                <a href="{{ path('sonata_admin_dashboard') }}" title="{{ sonata_admin.adminPool.title }}">
                    {% if sonata_admin.adminPool.getOption('title_mode') in ['single_image', 'both'] %}
                        <div>
                            <img style="width:64px;" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" />
                        </div>
                    {% endif %}
                    {% if sonata_admin.adminPool.getOption('title_mode') in ['single_text', 'both'] %}
                        <span>{{ sonata_admin.adminPool.title }}</span>
                    {% endif %}
                </a>
            </div>
        {% endblock %}
        <div class="register-box-body">
            {% block sonata_user_register_form %}
                <h3 class="register-box-msg">{{ 'title_user_registration_ok'|trans({}, 'SonataUserBundle') }}</h3>
                <p>{{ 'body_user_registration_ok'|trans({}, 'SonataUserBundle') }}</p>
            {% endblock %}

            <br />

            <a href="{{ path('sonata_user_admin_security_login') }}" title="{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}">
                {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
            </a>
        </div>
    </div>
{% endblock sonata_wrapper %}
