{% extends base_template %}

{% block javascripts  %}
    {{ parent() }}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block stylesheets  %}
    {{ parent() }}

    <link type="text/css" rel="stylesheet" href="{{ asset('css/register/register.css') }}" />
{% endblock %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc register-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="register-box">
        {% block register_box_header %}
            <div class="register-logo">
                <a href="{{ path('sonata_admin_dashboard') }}" title="{{ sonata_admin.adminPool.title }}">
                    {% if sonata_admin.adminPool.getOption('title_mode') in ['single_image', 'both'] %}
                        <div>
                            <img style="width:64px;" src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}" />
                        </div>
                    {% endif %}
                    {% if sonata_admin.adminPool.getOption('title_mode') in ['single_text', 'both'] %}
                        <span>{{ sonata_admin.adminPool.title }}</span>
                    {% endif %}
                </a>
            </div>
        {% endblock %}
        <div class="register-box-body">
            {% block sonata_user_register_form %}
                {% block sonata_user_register_error %}
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger alert-error">
                            <ul>
                                {% for error in form.vars.errors %}
                                    <li>
                                        {{ error.message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endblock %}

                <p class="register-box-msg">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</p>
                <form action="{{ path("register") }}" method="post" role="form">
                    {{ form_widget(form._token) }}

                    {% for field in form.children if 'form__token' != field.vars['id'] %}
                        {% set childrenBlockPrefixesLen = field.vars['block_prefixes']|length %}
                        {% set formType = field.vars['block_prefixes'][(childrenBlockPrefixesLen - 2)] %}
                        <div class="form-group has-feedback">
                            {% set fieldAttrs = '' %}
                            {% for key, attr in field.vars['attr'] if key not in ['id', 'class', 'name','placeholder', 'type', 'value', 'icon'] %}
                                {% set fieldAttrs = fieldAttrs ~ ' ' ~ key ~ '="' ~ value ~ '"' %}
                            {% endfor %}

                            {% if formType in ['text', 'email', 'hidden'] %}
                                <label class="{% if true == field.vars['required'] %}required{% endif %}" for="{{ field.vars['id'] }}">{{ field.vars['label']|trans({}, (field.vars['translation_domain']|default('SonataUserBundle'))) }}</label>
                                <input class="form-control {{ field.vars['attr']['class']|default('') }}"
                                       id="{{ field.vars['id'] }}"
                                       name="{{ field.vars['full_name'] }}"
                                       {% if true == field.vars['required'] %}required="required"{% endif %}
                                       type="{{ formType }}"
                                       value=""
                                       {{ fieldAttrs }}
                                       />

                                {% if 'icon' in field.vars['attr']|keys %}
                                    <span class="{{ field.vars['attr']['icon'] }}"></span>
                                {% endif  %}
                            {% elseif 'choice' == formType %}
                                <label class="{% if true == field.vars['required'] %}required{% endif %}" for="{{ field.vars['id'] }}">{{ field.vars['label']|trans({}, (field.vars['translation_domain']|default('SonataUserBundle'))) }}</label>
                                <select class="form-control {{ field.vars['attr']['class']|default('') }}"
                                        id="{{ field.vars['id'] }}"
                                        name="{{ field.vars['full_name'] }}"
                                        {% if true == field.vars['required'] %}required="required"{% endif %}
                                        {{ fieldAttrs }}
                                        >
                                    <option value=""></option>
                                    {% for choice in field.vars['choices'] %}
                                        <option value="{{ choice.value }}">
                                            {{ choice.label|trans({}, field.vars['choice_translation_domain'])|default(field.vars['translation_domain'])|default('messages') }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% elseif 'repeated' == formType %}
                                {% for item in field.children %}
                                    <div class="form-group has-feedback">
                                        <label class="{% if true == item.vars['required'] %}required{% endif %}" for="{{ item.vars['id'] }}">{{ item.vars['label']|trans({}, (item.vars['translation_domain']|default('SonataUserBundle'))) }}</label>
                                        <input class="form-control {{ item.vars['attr']['class']|default('') }}"
                                               id="{{ item.vars['id'] }}"
                                               name="{{ item.vars['full_name'] }}"
                                               {% if true == item.vars['required'] %}required="required"{% endif %}
                                               type="{{ item.vars['attr']['type']|default('text') }}"
                                               value=""
                                               {{ fieldAttrs }}
                                               />

                                        {% if 'icon' in item.vars['attr']|keys %}
                                            <span class="{{ item.vars['attr']['icon'] }}"></span>
                                        {% endif  %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LeTMMwUAAAAALIl9A5kphyN7N3i3UArrE5CGl8O"></div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</button>
                </form>
            {% endblock %}

            <br />

            <a href="{{ path('sonata_user_admin_security_login') }}" title="{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}">
                {{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}
            </a>
        </div>
    </div>
{% endblock sonata_wrapper %}
