<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ 'login.title'|trans({}, 'Public') }}</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/png" href="{{ asset('public/login/img/favicon.ico') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sonatacore/vendor/components-font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/icon-font.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/animate.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/hamburgers.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/animsition.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/select2.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/daterangepicker.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/util.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/main.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/login/css/login.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/utils.css') }}" />
    </head>

    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" id="login-form" method="POST">
                        <span class="login100-form-title p-b-43">{{ 'login.login_text'|trans({}, 'Public') }}</span>

                        <div id="login-errors" data-content="<div class='alert alert-danger alert-dismissible fade show'><a class='close' href='javascript:;' data-dismiss='alert' aria-label='close'>&times;</a><<<ERROR>>></div>">
                        </div> <!-- /login-errors -->

                        <div class="wrap-input100 validate-input" data-validate="{{ 'login.validators.required.username'|trans({}, 'Public') }}">
                            <input class="input100" id="login-username" type="text" name="username" />
                            <span class="focus-input100"></span>
                            <span class="label-input100">{{ 'login.fields.username'|trans({}, 'Public') }}</span>
                        </div> <!-- /username -->

                        <div class="wrap-input100 validate-input" data-validate="{{ 'login.validators.required.password'|trans({}, 'Public') }}">
                            <input class="input100" id="login-password" type="password" name="pass" />
                            <span class="focus-input100"></span>
                            <span class="label-input100">{{ 'login.fields.password'|trans({}, 'Public') }}</span>
                        </div> <!-- /password -->

                        <div class="flex-sb-m w-full p-t-3 p-b-32">
                            <div></div>
                            <div>
                                <a class="txt1" href="javascript:;" title="{{ 'login.forgot_password'|trans({}, 'Public') }}">
                                    {{ 'login.forgot_password'|trans({}, 'Public') }}
                                </a>
                            </div>
                        </div> <!-- /forgot-password -->

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="login-submit">
                                {{ 'login.login_btn'|trans({}, 'Public') }}
                            </button>
                        </div> <!-- /login -->
                    </form>

                    <div class="login100-more" id="login-bg"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{{ asset('public/login/js/jquery-3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/animsition.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/select2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/daterangepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/countdowntime.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/login/js/main.min.js') }}"></script>
        <script type="text/javascript">
            /**
             * Comprobamos si existe un usuario en el localStorage, y si es un usuario valido redirigimos al dashboard
             */
            function checkUser() {
                var user = localStorage.getItem('user') || false;

                if (user) {
                    user = JSON.parse(user);

                    $.ajax({
                        beforeSend: function (xhr) {
                            $('html').addClass('cursor-wait');

                            // Limpiamos los errores que haya
                            $('#login-errors').html('');
                        },
                        url: '{{ path('api_check_token') }}',
                        headers: {'token': (user.token || false)},
                        method: 'POST'
                    })
                            .done(function (response) {
                                if (response.success) {
                                    window.location.replace('{{ path('public_panel_dashboard') }}');
                                } else {
                                    var errorTemplate = $('#login-errors').attr('data-content').replace('<<<ERROR>>>', response.message);

                                    $('#login-errors').html(errorTemplate);
                                }
                            })
                            .fail(function (response) {
                                var errorTemplate = $('#login-errors').attr('data-content').replace('<<<ERROR>>>', response.statusText);

                                $('#login-errors').html(errorTemplate);
                            })
                            .always(function (response) {
                                $('html').removeClass('cursor-wait');
                            });
                }
            }
            ;

            /**
             * Login
             */
            function login() {
                var isSubmiting = false;

                $('#login-form').on('submit', function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    // Limpiamos los errores que haya
                    $('#login-errors').html('');

                    // Comprobamos que se haya introducido el username y password
                    if ('' === $('#login-username').val().trim() || '' === $('#login-password').val().trim()) {
                        return false;
                    }

                    if (!isSubmiting) {
                        isSubmiting = true;

                        $.ajax({
                            beforeSend: function (xhr) {
                                $('html').addClass('cursor-wait');
                                $('#login-submit').addClass('form-submitting');
                            },
                            url: '{{ path('api_login') }}',
                            data: {
                                username: $('#login-username').val(),
                                password: $('#login-password').val()
                            },
                            method: 'POST'
                        })
                                .done(function (response) {
                                    if (response.success) {
                                        // Guardamos el token y redirigimos al panel
                                        localStorage.setItem('user', JSON.stringify({username: response.data.username, token: response.data.token}));

                                        window.location.replace('{{ path('public_panel_dashboard') }}');
                                    } else {
                                        var errorTemplate = $('#login-errors').attr('data-content').replace('<<<ERROR>>>', response.message);

                                        $('#login-errors').html(errorTemplate);
                                    }
                                })
                                .fail(function (response) {
                                    var errorTemplate = $('#login-errors').attr('data-content').replace('<<<ERROR>>>', response.statusText);

                                    $('#login-errors').html(errorTemplate);
                                })
                                .always(function (response) {
                                    $('html').removeClass('cursor-wait');
                                    $('#login-submit').removeClass('form-submitting');

                                    isSubmiting = false;
                                });
                    }
                });
            }
            ;

            $(document).ready(function () {
                login();

                checkUser();
            });</script>
    </body>
</html>