.cursor-wait,
html.cursor-wait * {
    cursor: wait !important;
}

.form-submitting:after {
    content: "\f110";
    font-family: "FontAwesome";
    font-size: 25px;
    margin: 0 0 0 20px;

    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}