// LOGIN
body.login-page,
body.register-page {
    background: url('../img/login/login-background.jpeg') no-repeat 0 0 transparent !important;
    background-size: cover !important;
}

// Enlaces externos
a[target="_blank"]:after {
    content: "\e164";
    display: inline-block;
    font-family: "Glyphicons Halflings";
    margin-left: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// HELPERS
.cursor-wait, html.cursor-wait * { cursor: wait !important; }
.f-normal { font-weight: normal !important; }
.v-align-middle { vertical-align: middle !important; }

// fa-condensed
.fa-condensed {
    display: inline-block;
    width: 30px;

    .fa:last-child {
        margin-right: 5px;
    }
}

// LIST
table th.list-number {
    width: 40px;
}

// HELPERS
.cursor-wait, html.cursor-wait * {
    cursor: wait !important;
}

// Como ICHECK esta desactivado, hay que remaquetar los input
div.checkbox {
    margin-left: 20px;
}

#dropdown-languages {
    padding: 0;

    a {
        padding: 10px;

        &.locale-active {
            background: #3261be;
            color: #ffffff;
        }
    }
}

// DateTimePicker
// Input
.sonata-ba-field .input-group {
    width: 100%;

    .input-group {
        width: 100%;

        // Input disabled + icon
        &.date > input[disabled="disabled"] + .input-group-addon,
        &.date > input[disabled="disabled"] + .input-group-addon span {
            cursor: not-allowed !important;
        }
    }
}

// Icon
.input-group-addon {
    background: #dddddd !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 34px;
}

// Campos invisibles obligatorios
/*textarea[required][style*="display: none;"],*/
select[required][style*="display: none;"] {
    background: transparent;
    border: none;
    display: block !important;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    z-index: -1;
}

// Para que los checkbox del formulario esten alineados con los demas campos
.sonata-ba-field.sonata-ba-field-standard-natural > .checkbox {
    height: 39px;
    line-height: 49px;
}


// FILTROS AVANZADOS
.advanced-filter .hide-advanced-filter-extra-data {
    div {
        &:first-child label,
            &+div {
            display: none;
        }
    }
}

[readonly] {
    background: transparent !important;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover {
        cursor: default;
    }

    &:focus {
        border-color: transparent;
    }
}