/* FIXES */
.hero__search__form > form {
    text-align: center;
}

.hero__search__form > form > * {
    display: inline-block !important;
    float: none !important;
}

.hero__search__form form .select__option {
    top: 22px !important;
}