{%- block float_widget -%}
    {%- set value = value|default('0')|replace({',': '.'}) -%}
    {%- set type = type|default('number') -%}
    {{ block('form_widget_simple') }}
{%- endblock float_widget -%}

{%- block link_widget -%}
    {%  set valueArr = value|split('/') %}

    <a
        {% for key, value in form.parent.vars.attr if key not in ['href', 'title'] %}
            {{ key }}="{{ value }}"
        {% endfor %}
        href="{{ asset(value) }}"
        title="{{ valueArr[(valueArr|length - 1)] }}"
        >{{ valueArr[(valueArr|length - 1)] }}</a>

    {{ block('hidden_widget') }}
{%- endblock link_widget -%}