body.login-page,
body.register-page {
  background: url("../img/login/login-background.jpeg") no-repeat 0 0 transparent !important;
  background-size: cover !important; }

a[target="_blank"]:after {
  content: "\e164";
  display: inline-block;
  font-family: "Glyphicons Halflings";
  margin-left: 10px; }

textarea {
  resize: vertical; }

.cursor-wait, html.cursor-wait * {
  cursor: wait !important; }

.f-normal {
  font-weight: normal !important; }

.v-align-middle {
  vertical-align: middle !important; }

.fa-condensed {
  display: inline-block;
  width: 30px; }
  .fa-condensed .fa:last-child {
    margin-right: 5px; }

.field-with-icon.field-with-icon-left .sonata-ba-field, .field-with-icon.field-with-icon-right .sonata-ba-field {
  position: relative; }
  .field-with-icon.field-with-icon-left .sonata-ba-field:after, .field-with-icon.field-with-icon-right .sonata-ba-field:after {
    background: #dddddd;
    font-family: FontAwesome;
    height: 34px;
    line-height: 34px;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 34px;
    border: 1px solid #d2d6de; }
  .field-with-icon.field-with-icon-left .sonata-ba-field input, .field-with-icon.field-with-icon-right .sonata-ba-field input {
    width: calc(100% - 34px); }
.field-with-icon.field-with-icon-right .sonata-ba-field:after {
  border-left: none; }
.field-with-icon.field-with-icon-left .sonata-ba-field:after {
  border-right: none;
  left: 0;
  right: auto; }
.field-with-icon.field-with-icon-left .sonata-ba-field input {
  margin-left: 34px; }
.field-with-icon.icon-datepicker .sonata-ba-field:after, .field-with-icon.icon-calendar .sonata-ba-field:after {
  content: "\f073"; }
.field-with-icon.icon-time .sonata-ba-field:after, .field-with-icon.icon-clock .sonata-ba-field:after {
  content: "\f017"; }
.field-with-icon.icon-address .sonata-ba-field:after {
  content: "\f2bb"; }
.field-with-icon.icon-email .sonata-ba-field:after {
  content: "\f1fa"; }
.field-with-icon.icon-euro-sign .sonata-ba-field:after {
  content: "\f153"; }
.field-with-icon.icon-home .sonata-ba-field:after {
  content: "\f015"; }
.field-with-icon.icon-money .sonata-ba-field:after {
  content: "\f09d"; }
.field-with-icon.icon-phone .sonata-ba-field:after {
  content: "\f095"; }
.field-with-icon.icon-v-card-o .sonata-ba-field:after {
  content: "\f2c3"; }

div.checkbox {
  margin-left: 20px; }

.avatar + .sonata-ba-field-help {
  text-align: right; }
  .avatar + .sonata-ba-field-help img {
    max-width: 90px;
    max-height: 90px; }

.fancy-checkboxes-and-radios {
  display: inline-block;
  margin: 0; }
  .fancy-checkboxes-and-radios input {
    display: none; }
    .fancy-checkboxes-and-radios input + label:before {
      content: attr(data-off-text) !important;
      padding: 5px 0 0 10px !important;
      text-align: left; }
    .fancy-checkboxes-and-radios input:checked + label:before {
      content: attr(data-on-text) !important;
      padding-right: 10px !important;
      text-align: right; }
  .fancy-checkboxes-and-radios label {
    cursor: pointer;
    display: block;
    height: 49px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px; }
    .fancy-checkboxes-and-radios label:empty {
      height: auto;
      margin-top: -38px; }
  .fancy-checkboxes-and-radios input[type="checkbox"], .fancy-checkboxes-and-radios input[type="radio"] {
    position: absolute;
    visibility: hidden !important; }
  .fancy-checkboxes-and-radios input[type="checkbox"] + label:before, .fancy-checkboxes-and-radios input[type="checkbox"] + label:after, .fancy-checkboxes-and-radios input[type="radio"] + label:before, .fancy-checkboxes-and-radios input[type="radio"] + label:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 26px;
    font-size: 15px;
    font-weight: normal;
    color: #333333; }
  .fancy-checkboxes-and-radios input[type="checkbox"] + label:before, .fancy-checkboxes-and-radios input[type="radio"] + label:before {
    background: #ffffff;
    border: 1px solid #cccccc;
    height: 34px;
    left: 0;
    padding: 0 5px;
    width: 70px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
  .fancy-checkboxes-and-radios input[type="checkbox"] + label:after, .fancy-checkboxes-and-radios input[type="radio"] + label:after {
    background: #bdbdbd;
    box-shadow: 1px 1px 6px #000000;
    height: 34px;
    left: 35px;
    transition: all 200ms ease-out;
    width: 34px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .fancy-checkboxes-and-radios input[type="checkbox"]:checked + label:after, .fancy-checkboxes-and-radios input[type="radio"]:checked + label:after {
    background: #419641;
    left: 0; }

.sonata-ba-field .checkbox .fancy-checkboxes-and-radios {
  margin: -10px 0 -10px -20px; }

.sonata-ba-field .input-group {
  width: 100%; }
  .sonata-ba-field .input-group .input-group {
    width: 100%; }
    .sonata-ba-field .input-group .input-group.date > input[disabled="disabled"] + .input-group-addon, .sonata-ba-field .input-group .input-group.date > input[disabled="disabled"] + .input-group-addon span {
      cursor: not-allowed !important; }

.input-group-addon {
  background: #dddddd !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 34px; }

/*textarea[required][style*="display: none;"],*/
select[required][style*="display: none;"] {
  background: transparent;
  border: none;
  display: block !important;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  z-index: -1; }

.has-add-to-choice .sonata-ba-field {
  position: relative; }
.has-add-to-choice .help-block {
  margin-top: 25px; }

.add-to-choice {
  margin-bottom: -15px;
  width: calc(100% - 34px); }
  .add-to-choice + .add-to-choice-btn {
    background: #ddd;
    border: 1px solid #d2d6de;
    color: #333;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 34px; }

#menu-avatar {
  margin: 15px 0;
  text-align: center; }
  #menu-avatar img {
    max-width: 50px; }

table th.list-number {
  width: 40px; }

.box-without-padding {
  margin: -20px -20px 0; }
  .box-without-padding .box-header {
    display: none; }

.readonly-helper + [readonly] {
  display: none !important; }

[readonly] {
  background: transparent !important;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0; }
  [readonly]:hover {
    cursor: default; }
  [readonly]:focus {
    border-color: transparent; }
