{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">
        {% for code in groups if admin.formgroups[code] is defined %}
            {% set form_group = admin.formgroups[code] %}

            <div class="{{ form_group.class|default('col-md-12') }}">
                <div class="{{ form_group.box_class }}">
                    {# Si no tiene label no mostramos la capa box-header porque se crea un espacio en blanco #}
                    {% if form_group.label not in [false, '-']|keys %}
                        <div class="box-header">
                            <h4 class="box-title">
                                {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                            </h4>
                        </div>
                    {% endif %}
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description %}
                                <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields if form[field_name] is defined %}
                                {{ form_row(form[field_name])}}
                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
