{% macro render_array(value, inline) %}
    {% from _self import render_array %}

    <ul>
        {% for key, val in value %}
            {% if val is iterable %}
                <li>{{ render_array(val, inline) }}</li>
            {% else %}
                <li>{{ val }}</li>
            {%  endif %}
        {% endfor %}
    </ul>
{% endmacro %}
