<th{% if(is_diff|default(false)) %} class="diff"{% endif %}>{% block name %}{{ field_description.label|trans({}, field_description.translationDomain ?: admin.translationDomain) }}{% endblock %}</th>
<td>
    {%- block field -%}
    {% spaceless %}
        {% set collapse = field_description.options.collapse|default(false) %}
        {% if collapse %}
            <div class="sonata-readmore"
                 data-readmore-height="{{ collapse.height|default(40) }}"
                 data-readmore-more="{{ collapse.more|default('read_more')|trans({}, 'SonataAdminBundle') }}"
                 data-readmore-less="{{ collapse.less|default('read_less')|trans({}, 'SonataAdminBundle') }}">
                {% block field_value %}
                    {% if 'image' == field_description.type %}
                        {% if value is not empty %}
                            <img src="{{ asset(value) }}" alt="" />
                        {% endif %}
                    {% elseif 'list' == field_description.type %}
                        {% if value is iterable %}
                            <ul>
                                {% for item in value %}
                                    <li>
                                        {{ item }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% elseif 'list_img' == field_description.type %}
                        {% if value is iterable %}
                            <ul>
                                {% for item in value %}
                                    <li>
                                        <a href="{{ asset(item) }}" title="{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}" target="_blank">
                                            <img src="{{ asset(item) }}" alt="" />
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        {% if field_description.options.safe %}{{ value|raw }}{% else %}{{ value|nl2br }}{% endif %}
                    {% endif %}
                {% endblock %}
            </div>
        {% else %}
            {{ block('field_value') }}
        {% endif %}
    {% endspaceless %}
    {%- endblock -%}
</td>

{% block field_compare %}
    {% if(value_compare is defined) %}
        <td>
            {% set value = value_compare %}
            {{ block('field') }}
        </td>
    {% endif %}
{% endblock %}
