{% set perPage = datagrid.pager.maxPerPage %}
{% set currentPage = datagrid.pager.page %}

{% for object in admin.datagrid.results %}
    <tr>
        <td>
            {{ (currentPage - 1) * perPage + (_key + 1) }}
        </td>
        {% include admin.getTemplate('inner_list_row') %}
    </tr>
{% endfor %}
