{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field%}
    <div id="map-{{ field_description.name }}" style="height: 500px;"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            gMap = new google.maps.Map(document.getElementById('map-{{ field_description.name }}'));

            gMap.setZoom({{ field_description.options['options']['zoom']|default(17) }});
            gMap.setCenter(new google.maps.LatLng({{ field_description.options['options']['lat'] }}, {{ field_description.options['options']['lng'] }}));
            gMap.setMapTypeId(google.maps.MapTypeId.SATELLITE);

            var marker = new google.maps.Marker({
                position: {
                    lat: {{ field_description.options['options']['lat'] }},
                    lng: {{ field_description.options['options']['lng'] }}
                },
                map: gMap
            });
        });
    </script>
{% endblock %}